language: csharp
dotnet: 3.1
sudo: false
env:
    global:
        - DOTNET_CLI_TELEMETRY_OPTOUT: 1
script:
    - dotnet build ./Back-End/CentralDeErro.sln

    - dotnet test ./Back-End /p:CollectCoverage=true /p:ExcludeByFile=\"**/Migrations/*.cs,**/Startup.cs,**/Program.cs,**/MapperConfig.cs,**/Role.cs,**/UserRole.cs\"  /p:CoverletOutputFormat=opencover   

after_script:
        - bash <(curl -s https://codecov.io/bash)